<h3>{{ 'cart' | translate }}</h3>
<p>
    <a routerLink="/shipping">{{ 'shipping-price' | translate }}</a>
</p>
<div class="cart-item" style="display: flex; flex-direction: column;" *ngFor="let item of items">
    <span>{{ getLang() === 'en' ? item.en_name : item.zh_name }}</span>
    <span>{{ item.price | currency }}</span>
</div>
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="name">{{ 'name' | translate }}</label>
        <input id="name" type="text" formControlName="name">
    </div>
    <div>
        <label for="address">{{ 'address' | translate }}</label>
        <input id="address" type="text" formControlName="address">
    </div>
    <button type="submit">{{ 'purchases' | translate }}</button>
</form>
