<h2>{{ 'products' | translate }}</h2>
<div *ngFor="let product of products">
    <h3>
        <a
            [title]="product.en_name + ' details'"
            [routerLink]="['/products', product.id]">
            {{ getLang() == 'en' ? product.en_name : product.zh_name }}
        </a>
    </h3>
    <p *ngIf="(getLang() == 'en' && product.en_description) || (getLang() == 'zh' && product.zh_description)">
        {{ 'description' | translate }} {{ getLang() == 'en' ? product.en_description : product.zh_description }}
    </p>
    <button type="button" (click)="share()">
        {{ 'share' | translate }}
    </button>
    <app-product-alerts
        [product]="product"
        (notify)="onNotify()"></app-product-alerts>
</div>
